* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

main {
  min-height: 100vh;
}

.App {
  background: url('./assets/coldbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: bottom; */
  transition: .4s ease-out;
}

.App.warm {
  background: url('./assets/warmbg.jpg');
  background-repeat: no-repeat;
  /* background-position: right bottom; */
}